:root {
    --bg-one:#e8eceb;
    --menu-one: #e8eceb;
    --color-notion:#8cbdb9;
    --color-ressenti:#2d3e4e;
    --color-week:#e09e50;
    --bt-noselect: #8cbdb9;
    --bt-select:#2d3e4e;
    --bt-mouse:#e09e50;
    --bg:#fff5cb;
}

body{
background-color: var(--bg);
}
header {
    
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    height:50px;
    width:calc(100%-10px);
    margin:0px 5px 10px 5px;
    font-size: x-large;
    background-color: var(--bg-one);
      }

main {
    display:flex;
    flex-direction: row;
    font-size: large; 
    }

nav{
    position: fixed;
    flex-direction: column;
    display:list-item;
    min-width:100px;   
    max-height: calc(100vh-60px);
    height: auto;
    border: solid 1px;
    list-style-type: none;
    align-items: center;
    margin: 0px;
    padding:10px;
    background-color: var(--menu-one);
    border-radius: 10px;
    }

.right {
    display:flex;
    flex-direction: column;
    margin: 0px;
    padding: 10px;
    border: solid 1px;
    height: auto;
    width: 80%;
    text-align: center;
    border: none;
    position: absolute;
    left:50px;
    }
.content{
    display:flex;
    flex-direction: column;
    border-radius: 20%;
    padding: 10px;
    margin:10px 0 10px 100px;
    border: solid 1px;
    background-color: var(--color-week);
    border-radius: 10%;
    box-sizing: border-box;
}
.notion{
    padding: 10px;
    background-color: var(--color-notion);
    border-radius: 10%;
}
.ressenti{
    padding: 10px;
    background-color: var(--color-ressenti);
    border-radius: 25%;
    color:var(--menu-one);
}
.button-circle{
    display:block;
    width:80px;
    height: 80px;
    line-height: 80px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#070707;
    text-align:center;
    text-decoration:none;
    background: var(--bt-noselect);
    font-size:20px;
    font-weight:bold;
}
.button-circle:hover{
background-color: var(--bt-mouse);
}

@media screen and (min-width:768px){

    .content{
        width:100%;
        min-height: 600px;
    }
    .right{
        display: grid;
         grid-template-columns: repeat(auto-fit, minmax(600px,1fr));
         gap:10px;
    }
}