:root {
    --bg-one:#c1fdf2;
    --menu-one: #ececc6;
    --color-notion:#e7f4ba;
    --color-ressenti:#a7bced;
    --color-week:#fe6e2b;
}

header {
    
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    height: 50px;
    width:100%;
    top:0px;
    font-size: x-large;
    background-color: var(--bg-one) ;
    position: fixed;
    z-index: 5;
    }

main {
    display:flex;
    flex-direction: row;
    font-size: large;   
    }

aside{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: sticky;
    top:100px;
    width: 100px;
    max-height: 800px;
    border: solid 1px;
    list-style-type: none;
    align-items: center;
    margin: 10px;
    padding:10px;
    background-color: var(--menu-one);
    }

.right {
    display:flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border: solid 1px;
    width: 100%;
    position: relative;
    top:50px;
}
.content{
    display:flex;
    flex-direction: column;
    padding: 10px;
    border: solid 1px;
    background-color: var(--color-week);
}
.notion{
    padding: 10px;
    background-color: var(--color-notion);
}
.ressenti{
    padding: 10px;
    background-color: var(--color-ressenti);
}